* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(GYM\ Centre.jpg);
    background-position: 50%;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;

    padding: 20px;
}

h1 {
    color: white;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    font-size: 60px;
    margin-top: 20px;
}

h2 {
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 30px;

    margin-bottom: 20px;
}

form {
    margin-top: 40px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    padding: 30px 40px;
    font-family: sans-serif;
    color: white;
    font-weight: lighter;
}

label {
    text-align: left;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    border-radius: 10px;
    font-size: 20px;
    padding: 12px;
    border: none;
    background-color: rgb(151, 151, 151);
    color: white;
    outline: none;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.container-checkbox{
    display: flex;
    align-items: center;
    gap: 10px;
}

form input[type="checkbox"]{
    width: 20px;
    height: 20px;
}

button {
    margin-top: 10px;
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    background: linear-gradient(90deg, rgba(252,0,255,1) 18%, rgba(81,0,82,1) 100%);
    border-radius: 10px;
    border: none;
    height: 45px;
    width: 100%;
    cursor: pointer;
}

button:hover {
    filter: brightness(0.8);
}

a {
    color: white;
}

a:visited {
    color: white;
}